/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
html, body {
  font-family: tahoma;
  color: black;
}

canvas {
  display: block;
}


#canv {
  position: fixed;
  top: 3%;
  left: 0;
  width: 100%;
  height: 97%;
  z-index: 0;
}

/***************************************************
  START SCREEN STYLING
****************************************************/
#startScreen {
  display: block;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  animation: rotateGradient 15s linear infinite;
}
@keyframes rotateGradient {
  0% {
    background-color: #f39c12;
  }
  25% {
    background-color: #e74c3c;
  }
  50% {
    background-color: #238dd4;
  }
  75% {
    background-color: #2ecc71;
  }
  100% {
    background-color: #f39c12;
  }
}

#startScreen .w3-half {
  height:81.5vh;
}

#startScreen .w3-container {
  height:18.5vh;
}

#titleImage {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

#startScreen .login {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.2), 0 10px 25px 0 rgba(255, 255, 255, 0.19);
  border: 2px solid white;
}
#startScreen .training {
  position: absolute;
  top: 66.5%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.2), 0 10px 25px 0 rgba(255, 255, 255, 0.19);
  border: 2px solid white;
}

#startScreen .background {
  transform: translate(1%, 0%);
}

.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #e74c3c,
    #3498db 50%,
    #2ecc71
  );
  left: -30px;
  top: 0px;
  animation: bounce 3s linear infinite, squashing 3s linear infinite;
}

@keyframes bounce {
 16%, 48%, 78% {
   top: 500px;
   animation-timing-function: ease-out;
 } 
  32% {
    top: 300px;
    animation-timing-function: ease-in;
  }
  62% {
    top: 400px;
    animation-timing-function: ease-in;
  }
  90% {
    top: 450px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 520px;
    left: 100%;
    animation-timing-function: ease-out;
    transform: rotate(360deg)
  }
}

.ball1 {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #df3b28,
    #f3d512 50%,
    #9b59b6
  );
  right: -30px;
  top: 0px;
  animation: bounce1 3.5s linear infinite, squashing 3s linear infinite;
}

@keyframes bounce1 {
 16%, 48%, 78% {
   top: 500px;
   animation-timing-function: ease-out;
 } 
  32% {
    top: 380px;
    animation-timing-function: ease-in;
  }
  62% {
    top: 420px;
    animation-timing-function: ease-in;
  }
  90% {
    top: 470px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 550px;
    right: 100%;
    animation-timing-function: ease-out;
    transform: rotate(360deg)
  }
}

.ball2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #e74c3c,
    #e67e22 50%,
    #27ae60 
  );
  animation: bounce2 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce2 {
  from { transform: translate3d(3vw, 20vh, 0);     }
  to   { transform: translate3d(3vw, 37vh, 0); }
}

.ball3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #3498db,
    #1abc9c 50%, 
    #d35400 
  );
  animation: bounce3 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce3 {
  from { transform: translate3d(20vw, 15vh, 0);     }
  to   { transform: translate3d(20vw, 40vh, 0); }
}

.ball4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #3498db,
    #f39c12 50%,
    #c0392b 
  );

  animation: bounce4 0.9s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce4 {
  from { transform: translate3d(70vw, 30vh, 0);     }
  to   { transform: translate3d(70vw, 55vh, 0); }
}

.ball5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #2ecc71,
    #3498db 50%, 
    #f39c12
  );

  animation: bounce5 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce5 {
  from { transform: translate3d(50vw, 70vh, 0);     }
  to   { transform: translate3d(50vw, 90vh, 0); }
}

.ball6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #2ecc71,
    #9b59b6 50%,
    #d35400
  );

  animation: bounce6 0.6s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce6 {
  from { transform: translate3d(35vw, 60vh, 0);     }
  to   { transform: translate3d(35vw, 75vh, 0); }
}

.ball7 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #f39c12,
    #d35400 50%,
    #8e44ad 
  );

  animation: bounce7 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce7 {
  from { transform: translate3d(85vw, 10vh, 0);     }
  to   { transform: translate3d(85vw, 25vh, 0); }
}

.ball8 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #8e44ad,
    #3498db 50%,
    #e74c3c
  );

  animation: bounce8 0.85s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce8 {
  from { transform: translate3d(10vw, 48vh, 0);     }
  to   { transform: translate3d(10vw, 70vh, 0); }
}

.ball9 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #2ecc71,
    #f39c12 50%,
    #8e44ad
  );

  animation: bounce9 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce9 {
  from { transform: translate3d(85vw, 58vh, 0);     }
  to   { transform: translate3d(85vw, 75vh, 0); }
}

.ball10 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    #3498db,
    #e74c3c 50%,
    #f39c12
  );

  animation: bounce10 0.65s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce10 {
  from { transform: translate3d(60vw, -20vh, 0);     }
  to   { transform: translate3d(60vw, 0vh, 0); }
}

/***************************************************
  GAME PAGE STYLING
****************************************************/

/*Navigation bar*/
body {
  font-family: Arial, sans-serif;
}

#gamePage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #464646;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14.5px 20px;

  position: relative;
  z-index: 1;
}

.logo img {
  width: 70px
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  cursor: pointer;
  padding-right: 145px;
}

.nav-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profile {
  text-align: right;
}

.profile-name {
  font-weight: bold;
}

.high-score {
  font-size: 12px;
  color: #ccc;
}

/*Navigation bar*/
#gamePage {
  display: none;
  height: 100vh;
}

#gamePage .data {
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  height: 100vh;
}

#balls {
  display: block;
  height: 100vh;
  width: 200vh;
}

#endScreen {
  opacity: 0; 
}

#endScreen #endScore, #endScreen #newscore {
  opacity: 0; 
}

#defaultCanvas0 {
  display: none;
}
/*Navigation bar*/

/*Leaderboard Modal*/
dialog {
	padding: 1rem 3rem;
  text-align: center;
	background: rgb(255, 255, 255);
	max-width: 400px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgba(57, 57, 57, 0);
		z-index: 2;
		backdrop-filter: blur(10px);
	}
  .column-container {
    display: flex;
    justify-content: center;
  }
  .column {
    flex: 1;
    padding: 0 10px;
  }
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(var(--vs-primary));
			}
		}
	}
}
body {
	height: 100vh;
}
button.primary {
	display: inline-block;
	font-size: 0.8rem;
	color: #fff !important;
	background: rgb(var(--vs-primary) / 100%);
	padding: 13px 25px;
	border-radius: 17px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	transition: all 0.25s ease;
	border: 0;
	cursor: pointer;
	box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/*Leaderboard Modal*/

/*The counters for timer, hits, and misses*/
.StatsDisplayer {
  background-color: #333333;
  color: #fff;
  text-align: left;
  margin: 30px auto;
  margin-right: 50px;
  max-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  position: relative;
  z-index: 1;
}
/*THe counter for timer hits and misses*/

/*The game buttons*/
.start-menu {
  background-color: #464646;
  color: #fff;
  text-align: center;
  max-width: 400px;
  margin: 130px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  position: relative;
  z-index: 1;

  opacity: 1;
  pointer-events: fill;
  transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in-out;
}

.game-over-message {
  margin-top: -15px;
  margin-bottom: 13px;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
  z-index: 1;
}

.start-button,
.help-button,
.credits-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.start-button:hover,
.help-button:hover,
.credits-button:hover {
  background-color: #0056b3; 
}
/*The game buttons*/

/*The buttons that come after Start, Help, Credits*/
.submenu-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px; 
}
.back-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}
.submenu-button:hover {
  background-color: #408e42; 
}
.back-button:hover {
  background-color: #bf342a;
}
.submenu-button, .back-button {
  text-align: center;
}
.submenu-button:last-child, .back-button:last-child {
  margin-bottom: 0;
}
/*The buttons that come after Start, Help, Credits*/

/*------------------------------------------------------------*
CPS Trainer
/*------------------------------------------------------------*/
body {
	background-color: #21252B;
	color: #e0e0e0;
	font-family: sans-serif;
	user-select: none;
}

.CPSFrame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 50%;
	background-color: #4CB0F9;
}

#CPSiD {
	height: 100%;
	width: 0px;
	background-color: rgb(67, 168, 239);
	transition: width 10s linear;
}

#btn {
	background-color: #00000000;
	width: 100%;
	height: 100%;
	color: white;
	border: none;
	font-size: 10vh;
	transition: color 0.3s;
	cursor: crosshair;
}

#btn:active {
	color: #0880D7;
	transition: color 0s;
}

@media only screen and (max-width: 720px) {
	.CPSFrame {
		width: 100%
	}
}
/*------------------------------------------------------------*
CPS Trainer
/*------------------------------------------------------------*/


/*------------------------------------------------------------*
  REGISTRATION page styling
/*------------------------------------------------------------*/
#registrationPage {
  display: none;
  /* The line below is just so you can see the form during testing //<========*/ 
 /* display: block; /* <===== ONCE FORM IS DESIGNED DELETE THIS LINE //<========*/ 
  height: 100vh;
}

.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}

/*------------------------------------------------------------*
  LEADERBOARD page styling
/*------------------------------------------------------------*/
#leaderboardScreen {
  display: none;
  height: 100vh;
}

/*------------------------------------------------------------*
  ADMIN page & BUTTON styling
/*------------------------------------------------------------*/
#adminPage {
  display: none;
  height: 86vh;
  overflow: scroll;
}

#b_lpAdmin {
  display: none;   /* none = don't display element */
}

#b_gpAdmin {
  display: none;   /* none = don't display element */
}

/*************************************************************
/*    END OF CSS
*************************************************************/